<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Fait référence à notre drive de connextion à notre base de données -->
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<!-- URL de connxexion de notre BDD -->
		<property name="connection.url">
			jdbc:mysql://localhost:3306/touloulou
		</property>
		<!-- Identifiant de connexion -->
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<!-- On log les requêtes SQL. On l'enlève pour la mise en prod -->
		<property name="show_sql">true</property>
		
		<!-- On map (c'est à dire lier) les entités à la BDD. On en a qu'une, la classe book -->
		<mapping class="entities.Staff"/>
	
	</session-factory>
</hibernate-configuration>